/* Hero */
section#hero div.bgImage {
    background-image: url("../img/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

/* Main */
.addToCart,
.addToCart:hover,
.addToCart:focus,
.addToCart:active {
    background-color: #0E5640 !important;
    color: white !important;
    border: none;
}

/*-- SwiperJS --*/
.swiper-button-prev, .swiper-button-next {
    background-color: white;
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);


}

.addToCart {
    background-color: #0E5640;
    color: white
}