/*-- Root --*/
:root {
    --swiper-navigation-color: black;
    --swiper-navigation-size: 30px;
}

/* Hero */
section#hero div.bgImage {
    background-image: url("../img/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Main */
.addToCart,
.addToCart:hover,
.addToCart:focus,
.addToCart:active {
    background-color: #0E5640 !important;
    color: white !important;
    border: none;
}


/*-- Cards --*/
.card {
    cursor: pointer;
}

i.preferite:hover, i.preferite.added {
    color: red
}

/*-- SwiperJS --*/
.swiper-button-prev, .swiper-button-next {
    background-color: white;
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);


}

.addToCart {
    background-color: #0E5640;
    color: white
}

@keyframes scale-in-out {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.03);
    }

}

div.swiper .card:hover {
    transform-origin: top center;
    animation: scale-in-out 0.3s infinite alternate;

}