/*-- Root --*/
:root {
    --swiper-navigation-color: black;
    --swiper-navigation-size: 30px;
}


/*-- Main --*/

/*-- Cards --*/
.card {
    cursor: pointer;
}

i.preferite:hover, i.preferite.added {
    color: red
}