/*-- Root --*/
:root {
    --swiper-navigation-color: black;
    --swiper-navigation-size: 30px;
}

/*-- Header --*/

/*-- Navbar --*/


header nav.navbar img {
    height: 50px;
    width: 50px;
}

/*-- Main --*/

/*-- Cards --*/
.card {
    cursor: pointer;
}

i.preferite:hover, i.preferite.added {
    color: red
}